@font-face { font-family: Cornerstone; src: url('../../build/assets/fonts/Cornerstone.ttf'); } 
$dark-color: #262626;
$light-color: #bfbfbf;


body{
    background-color: $light-color;
}

//navbar
nav{
    padding-top:10px;
}
nav ul li a{
    font-family: 'Cornerstone';
    color: $dark-color;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: -5px;
}
nav ul li a:hover{
    background:0;
    text-decoration: underline;
}
nav img{
    height:100%;
}
nav .hamburger{
    margin-top: -5px;
    color: $dark-color;
}

//landing
.landing{
    margin-top:20px;
}
.landing img{
    width: 100%;
}

