@font-face {
    font-family: Cornerstone;
    src: url('../../build/assets/fonts/Cornerstone.ttf');
}

$dark-color: #262626;
$light-color: #bfbfbf;


body {
    scroll-behavior: smooth;
    background-color: $light-color;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

.text-bold {
    font-weight: bold;
}

//navbar
nav {
    padding-top: 10px;

    img {
        height: 100%;
    }

    .hamburger {
        margin-top: -5px;
        color: $dark-color;
    }

    ul li a {
        font-family: 'Cornerstone';
        color: $dark-color;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-top: -5px;
    }

    ul li a:hover {
        background: 0;
        text-decoration: underline;
    }
}


//landing
.landing {
    margin-top: 20px;

    img {
        width: 100%;
    }
}

//offer
.offer p {
    text-align: center;
}

//realizations
.realizations img{
    max-width:100%;
    margin-top: 20px;
}

.offer h4,
.realizations h4,
.contact h4,
.contact h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cornerstone'
}

//footer
.footer{
    height: 5vh;
    background-color: $dark-color;
}